{% extends "lenotes/base.html" %} {% load staticfiles %} {% load widget_tweaks %} {% block title %}Reset Password{% endblock title %} {% block stylesheet %} {% endblock stylesheet %} {% block content %}
<style>
    .ohbut {
    display: inline-block;
    padding: .3em .5em;
    background-image: linear-gradient(#ddd, #bbb);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color:rgb(8, 250, 137);
    font-weight: bold;
}
.ohbut:active{
    box-shadow: .05em .1em .2em rgba(6, 240, 95, 0.6) inset;
    border-color: rgba(250, 5, 5, 0.3);
    background: rgb(7, 84, 228);
}

</style>
<div class="section">
    <form class="form-users myforms" method="post" action="{% url 'users:reset_password' %}" novalidate>
        {% csrf_token %} {% include 'users/forms/reset_password.html' %}
        <center>
            <button name="submit" class="ohbut">提交</button>
            <a class="ohbut" href="{% url 'lenotes:index'%}">返回</a>
        </center>
    </form>
</div>

{% endblock content %}