{% load widget_tweaks %} {% for field in group_form %}

<style>
    .myf {
    /* padding: 0.4em 0.25em;
    width: 100%;
    background: transparent;
    color: rgb(12, 128, 243);
    font-size: 1.55em; */
    font: 15px/36px "Muli", sans-serif;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #f5f4f4;
    height: 38px;
    position: relative;
    background: none;
}
</style>

<div class="form-group">
    <span>
		{{ field.label }}
	</span> {{ field | add_class:"myf"}}
    <p class="error-message text-danger">
        {% for error in field.errors %} {{ error }} {% endfor %}
    </p>
</div>

{% endfor %} {{ group_form.media }}

<div class="form-group">
    <span>群组头像</span>
    <input type="file" name="profile" class="myf" />
</div>
