{% extends "lenotes/base.html" %} {% load bootstrap3 %} {% block header %}
<h3><a href="{% url 'lenotes:group' group.id %}">{{ diary.diary_log }}的日志~</a></h3>
{% endblock header %} {% block content %}
<style>
    .ohbut {
    display: inline-block;
    padding: .3em .5em;
    background-image: linear-gradient(#ddd, #bbb);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color:rgb(8, 250, 137);
    font-weight: bold;
}
.ohbut:active{
    box-shadow: .05em .1em .2em rgba(6, 240, 95, 0.6) inset;
    border-color: rgba(250, 5, 5, 0.3);
    background: rgb(7, 84, 228);
}



</style>

<form action="{% url 'lenotes:edit_diary_md' diary.id %}" method='post' class="form">
    {% csrf_token %} {% bootstrap_form form %} {% buttons %}<button name="submit" class="ohbut">Save changes</button> {% endbuttons %}
</form>{{ form.media }} {% endblock content %}